# Python
*.pyc
__pycache__/
*.pyo
*.pyd
.venv

# Django
*.sqlite3
media/
staticfiles/
.env
*.log


# VSCode / IDEs
.vscode/
.idea/

# Django migrations (optional)
*/migrations/__pycache__/

# secrets
.env 
.env.prod
.env.local

media/
